<nav id="{{ ctx.wizardKey }}-nav">
    <nav class="list-inline" id="{{ ctx.wizardKey }}-nav">
        {% if (ctx.buttons.next) { %}
        <div class="list-inline-item">
            <button class="btn btn-primary btn-wizard-nav-next" type="submit" ref="{{ctx.wizardKey}}-next">
                {{ctx.t('next')}}
            </button>
        </div>
        {% } %}
        {% if (ctx.buttons.submit) { %}
        <div class="list-inline-item">
            <button class="btn btn-primary btn-wizard-nav-submit" type="submit" ref="{{ctx.wizardKey}}-submit">
                {{ctx.t('submit')}}
            </button>
        </div>
        {% } %}
        {% if (ctx.buttons.previous) { %}
        <div class="list-inline-item">
            <button class="btn btn-primary btn-wizard-nav-previous" type="button" ref="{{ctx.wizardKey}}-previous">
                {{ctx.t('previous')}}
            </button>
        </div>
        {% } %}

    </nav>
    {% if (ctx.buttons.cancel) { %}
    <div>
        <button class="lenke btn-wizard-nav-cancel" ref="{{ctx.wizardKey}}-cancel" type="button">{{ctx.t('cancel')}}
        </button>
    </div>
    {% } %}
</nav>