.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: var(--ax-space-16);
  flex-wrap: wrap;
  margin-bottom: var(--ax-space-20);
}

.row > button,
.row > a {
  min-width: 12rem;
  flex-grow: 1;
  max-width: 19.5rem;
}

.center {
  justify-content: center;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .center {
    justify-content: flex-end;
  }

  .row > button,
  .row > a {
    min-width: 100%;
    max-width: 100%;
  }
}
