version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{secrets.READER_TOKEN}}
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    registries:
      - npm-github
    schedule:
      interval: 'monthly'
    versioning-strategy: increase
    open-pull-requests-limit: 20
    groups:
      navikt-aksel-major:
        patterns:
          - '@navikt/ds-*'
          - '@navikt/aksel-icons'
        update-types:
          - 'major'
      navikt-aksel-minor-patch:
        patterns:
          - '@navikt/ds-*'
          - '@navikt/aksel-icons'
        update-types:
          - 'minor'
          - 'patch'
      all-minor-patch:
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'
      typescript-eslint:
        patterns: 
          - '@typescript-eslint/*'
        update-types:
          - 'major'
      testing-library:
        patterns: 
          - '@testing-library/*'
        update-types:
          - 'major'
      nav-dekoratoren-major:
        patterns:
          - '@navikt/nav-dekoratoren-moduler'
          - 'csp-header'
          - 'html-react-parser'
        update-types:
          - 'major'
      nav-dekoratoren-minor-patch:
        patterns:
          - '@navikt/nav-dekoratoren-moduler'
          - 'csp-header'
          - 'html-react-parser'
        update-types:
          - 'minor'
          - 'patch'
    ignore:
      - dependency-name: 'formiojs'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      all:
        patterns:
          - '*'
