.fieldset {
  border: 0;
  margin: 0;
  min-inline-size: 0;
  padding: 0;
}

.description {
  margin-top: var(--ax-space-8);
}

.hiddenLegend {
  block-size: 1px;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
