# editors
.idea/
*.iml
.vscode/

# dependencies
**/node_modules

# testing
**/coverage
**/cypress/downloads
**/cypress/videos
**/cypress/screenshots

# production
**/build
**/dist

# misc
.DS_Store
.env
.env*.local
.runtime/
environments
package.json.backup
pnpm-debug.log*

# copilot
.plans
