<div class="{{ctx.className}}">
  <div style="position: relative;">
    {{ ctx.wizardHeader }}
    <h2 class="typo-innholdstittel">{{ctx.panels[ctx.currentPage].title}}</h2>
    <form class="wizard-page" ref="{{ctx.wizardKey}}">
      {{ctx.components}}
      {{ ctx.wizardNav }}
    </form>
  </div>
</div>
