<div class="stegindikator__wrapper">
  <nav id="{{ ctx.wizardKey }}-header" class="stegindikator">
    <ol class="stegindikator__liste">
      {% if (ctx.panels.length > 5 && ctx.currentPage >= 2) { %}
        <li class="stegindikator__steg {{window.innerWidth > 600 ? 'stegindikator__steg--labelled' : ''}}">
          <button ref="{{ctx.wizardKey}}-stepindicator-previous" class="stegindikator__steg-inner stegindikator__steg-inner--interaktiv stegindikator__steg-inner--ferdig">
            <div class="stegindikator__steg-num">
              <span class="nav-frontend-chevron chevronboks chevron--venstre" />
            </div>
            <div class="stegindikator__steg-label">{{ctx.t('Forrige')}}</div>
          </button>
        </li>
      {% } %}
      {% ctx.panels.forEach(function(panel, index) { %}
        {% if (ctx.panels.length <= 5 || index < Math.max(ctx.currentPage + 2, Math.min(ctx.panels.length - 1, 4))) { %}
          <li
            class="stegindikator__steg {{window.innerWidth > 600 ? 'stegindikator__steg--labelled' : ''}}"
            aria-current="{{ctx.currentPage === index ? 'step' : undefined}}"
            {% if (ctx.panels.length > 5 && !(index > Math.min(ctx.currentPage - 2, ctx.panels.length - 5) && index < Math.max(ctx.currentPage + 2, Math.min(ctx.panels.length, 5)))) { %}
              hidden
            {% } %}
          >
            <{{(ctx.currentPage === index) ? "div" : "button"}}
              class="stegindikator__steg-inner {{ctx.currentPage === index ? 'stegindikator__steg-inner--aktiv' : 'stegindikator__steg-inner--interaktiv'}} {{ctx.currentPage > index ? 'stegindikator__steg-inner--ferdig' : ''}}"
              ref="{{ctx.wizardKey}}-link"
              title="{{ctx.panels[index].title}}"
              {% if (ctx.currentPage === index) { %}
              tabindex="-1"
              {% } %}
            >
            <div class="stegindikator__steg-num">{{ctx.t(index+1)}}{{ctx.panels.length > 5 && ctx.currentPage === index && window.innerWidth > 600 ? ` av ${ctx.panels.length}` : ''}}</div>
            {% if (window.innerWidth > 600) { %}
            <div class="stegindikator__steg-label">{{ctx.panels[index].title}}</div>
            {% } %}
          </{{(ctx.currentPage === index) ? "div" : "button"}}>
          </li>
        {% } %}
      {% }) %}
      {% if (ctx.panels.length > 5 && ctx.currentPage < ctx.panels.length - 2) { %}
      <li class="stegindikator__steg {{window.innerWidth > 600 ? 'stegindikator__steg--labelled' : ''}}">
        <button ref="{{ctx.wizardKey}}-stepindicator-next" class="stegindikator__steg-inner stegindikator__steg-inner--interaktiv stegindikator__steg-inner--ferdig">
          <div class="stegindikator__steg-num">
            <span class="nav-frontend-chevron chevronboks chevron--hoyre" />
          </div>
          <div class="stegindikator__steg-label">{{ctx.t('Neste')}}</div>
        </button>
      </li>
      {% } %}
    </ol>
  </nav>
</div>
