<div class="stegindikator__wrapper">
  <nav id="{{ ctx.wizardKey }}-header" class="stegindikator">
    <ol class="stegindikator__liste">
      {% if (ctx.currentPage > 2) { %}
        <li class="stegindikator__steg stegindikator__steg--labelled">
          <button ref="{{ctx.wizardKey}}-stepindicator-previous" class="stegindikator__steg-inner stegindikator__steg-inner--interaktiv stegindikator__steg-inner--ferdig" title="Bla tilbake">
            <div class="stegindikator__steg-num">
              <<
            </div>
          </button>
        </li>
      {% } %}
      {% ctx.panels.forEach(function(panel, index) { %}
        {% if (index < Math.max(ctx.currentPage + 3, Math.min(ctx.panels.length, 5))) { %}
          <li
            class="stegindikator__steg {{window.innerWidth > 600 ? 'stegindikator__steg--labelled' : ''}}"
            aria-current="{{ctx.currentPage === index ? 'step' : undefined}}"
            {% if (!(index > Math.min(ctx.currentPage - 3, ctx.panels.length - 6) && index < Math.max(ctx.currentPage + 3, Math.min(ctx.panels.length, 5)))) { %}
              hidden
            {% } %}
          >
            <{{(ctx.currentPage === index) ? "div" : "button"}}
            class="stegindikator__steg-inner {{ctx.currentPage === index ? 'stegindikator__steg-inner--aktiv' : 'stegindikator__steg-inner--interaktiv'}} {{ctx.currentPage > index ? 'stegindikator__steg-inner--ferdig' : ''}}"
            ref="{{ctx.wizardKey}}-link"
            title="{{ctx.panels[index].title}}"
            >
            <div class="stegindikator__steg-num">{{ctx.t(index+1)}}</div>
            {% if (window.innerWidth > 600) { %}
            <div class="stegindikator__steg-label">{{ctx.panels[index].title}}</div>
            {% } %}
          </{{(ctx.currentPage === index) ? "div" : "button"}}>
          </li>
        {% } %}
      {% }) %}
      {% if (ctx.currentPage < ctx.panels.length - 3) { %}
      <li class="stegindikator__steg stegindikator__steg--labelled">
        <button ref="{{ctx.wizardKey}}-stepindicator-next" class="stegindikator__steg-inner stegindikator__steg-inner--interaktiv stegindikator__steg-inner--ferdig" title="Bla tilbake">
          <div class="stegindikator__steg-num">
            >>
          </div>
        </button>
      </li>
      {% } %}
    </ol>
  </nav>
</div>
