@import "../node_modules/nav-frontend-alertstriper-style/dist/main.css";
@import "../node_modules/nav-frontend-core/dist/main.css";
@import "../node_modules/nav-frontend-chevron-style/dist/main.css";
@import "../node_modules/nav-frontend-knapper-style/dist/main.css";
@import "../node_modules/nav-frontend-lenker-style/dist/main.css";
@import "../node_modules/nav-frontend-paneler-style/dist/main.css";
@import "../node_modules/nav-frontend-skjema-style/dist/main.css";
@import "../node_modules/nav-frontend-stegindikator-style/dist/main.css";
@import "../node_modules/nav-frontend-tabs-style/dist/main.css";
@import "../node_modules/nav-frontend-typografi-style/dist/main.css";

//Stegindikator -- start
.stegindikator__steg-inner--aktiv {
  &:focus {
    outline: none;

    .stegindikator__steg-num {
      box-shadow: 0 0 0 3px #0067C5FF;
    }

    .stegindikator__steg-label {
      color: white;
      background: #0067C5FF;
      text-decoration: none;
    }
  }
}

//Stegindikator -- slutt

//Select -- start
.choices.form-group.formio-choices {
  width: 100%;
  max-width: 420px;

  &:after {
    display: none;
  }
}

.choices__list--dropdown.is-active {
  position: relative;
}

// Legacy drowdown
.form-control.selection.dropdown {
  position: relative;
  display: inline-block;

  background-color: #ffffff;
  width: 100%;
  max-width: 420px;
  font-weight: 400;

  &::before {
    pointer-events: none;
    content: "";
    background: #262626;
    height: 2px;
    width: 10px;
    border-radius: 10px;
    right: 0.75rem;
    top: 50%;
    z-index: 4;
    position: absolute;

    transform: translateX(3px) rotate(-45deg);
  }

  &::after {
    pointer-events: none;
    content: "";
    background: #262626;
    height: 2px;
    width: 10px;
    border-radius: 10px;
    right: 0.75rem;
    top: 50%;
    z-index: 4;
    position: absolute;

    transform: translateX(-3px) rotate(45deg);
  }
}

//Select -- slutt

//RadioPanel -- start
.radioPanel {
  width: 100%;
  max-width: 420px;
}

//RadioPanel -- slutt

//Skjemagruppe -- start

.skjemagruppe.inputPanelGruppe .skjemaelement:nth-last-of-type(1) {
  margin-bottom: 0;
}

.skjemagruppe,
.skjemagruppe fieldset,
.skjemagruppe__fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  .skjemaelement {
    margin-bottom: 1rem;
  }
}

.skjemagruppe__description {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;

  margin-bottom: 1rem;
}

.skjemagruppe legend,
.skjemagruppe__legend {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;

  @media (min-width: 30em) {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

.skjemagruppe {
  &.inputPanelGruppe,
  &.checkboxgruppe {
    .skjemaelement {
      margin-bottom: 1rem;
    }

    legend,
    .skjemagruppe__legend {
      font-size: 1rem;
      line-height: 1.375rem;
      font-weight: 600;
    }
  }
}

//Skjemagruppe -- slutt

//Feilhåndtering -- start
.alert.alert-danger {
  border: 4px solid #ba3a26;
  border-radius: 0;
  background-color: #fff;
  padding: 1rem;
  display: block;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.56rem;
  font-weight: 600;
  color: #262626;

  ul > li {
    color: #0067c5;
    background: none;
    text-decoration: underline;
    cursor: pointer;

    &:hover,
    &--hover {
      text-decoration: none;
    }

    &:focus,
    &--focus {
      outline: none;
      color: white;
      text-decoration: none;
      background-color: #0067C5FF;
      box-shadow: 0 0 0 2px #0067C5FF;
    }

    &:active,
    &--active {
      outline: none;
      color: white;
      text-decoration: none;
      background-color: #0067C5FF;
      box-shadow: 0 0 0 2px #0067C5FF;
    }
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.formio-error-wrapper {
  background-color: transparent;
  border-color: transparent;
  text-decoration-color: #262626;
  color: #262626;
}

.skjemaelement__input.is-invalid {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
  background-image: none;
}

.form-text.error {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0;
  color: #ba3a26;
}

.formio-component.has-feedback .invalid-feedback {
  display: block;
  margin-top: 0.5rem;
}

.form-control.is-invalid {
  background-image: none;
}

//Feilhåndtering -- slutt

.formio-form .navds-radio-group legend.navds-fieldset__legend {
  font-weight: bold;
}

//NAV-knappestyling -- start

.label-track-changes {
  display: flex;
  align-items: baseline;
  .navds-tag {
    margin-left: 1rem;
  }
}

.button-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  button, a {
    flex-grow: 1;
    min-width: 12rem;
    max-width: 18.75rem;
  }
  &__center {
    justify-content: center;
    @media (max-width: 540px) {
      justify-content: flex-start;
    }
  }
}

.list-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-inline-item {
  margin: 0.5rem;
}

.accordion-link {
  margin: 0 0 1rem 0;

  &__link {
    font-family: inherit;
    font-weight: bold;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg width='1rem' height='1rem' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' focusable='false' role='img'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 17L3 8.429 4.5 7l7.5 7.143L19.5 7 21 8.429 12 17z' fill='%230067c5'></path></svg>");
    background-repeat: no-repeat;
    background-position: right;
    padding: 0 1.5rem 0 0;
    cursor: pointer;
    border: none;
    color: #069;
  }

  &__text {
    display: none;
  }

  &--expand {
    > .accordion-link {
      &__link {
        background-image: url("data:image/svg+xml;utf8,<svg width='1rem' height='1rem' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' focusable='false' role='img'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 7l-9 8.571L4.5 17 12 9.857 19.5 17l1.5-1.429L12 7z' fill='%230067c5'></path></svg>");
        margin-bottom: 0.5rem;
      }

      &__text {
        display: block;
      }
    }
  }
}

//NAV-knappestyling -- slutt
