<div ref="{{ctx.datagridKey}}-tbody">
  {% ctx.rows.forEach(function(row, index) { %}
    <fieldset class="data-grid__row skjemagruppe" ref="{{ctx.datagridKey}}-row">
      <legend class="skjemagruppe__legend">{{ctx.t(ctx.component.label)}}</legend>
      {% if (ctx.component.description) { %}
        <div class="skjemagruppe__description">{{ctx.t(ctx.component.description)}}</div>
      {% } %}
      {% ctx.columns.forEach(function(col) { %}
        {% if (!(col.type === "radiopanel" || col.type === "navCheckbox")) { %}
          <label for="{{col.key}}" class="skjemaelement__label{{col.validate && col.validate.required ? ' field-required' : ''}}">{{ctx.t(col.label || col.title)}}</label>
        {% } %}
        <div ref="{{ctx.datagridKey}}">
          {{row[col.key]}}
        </div>
      {% }) %}
      {% if (ctx.hasExtraColumn) { %}
        {% if (!ctx.builder && ctx.hasRemoveButtons && (index > 0 || ctx.component.initEmpty || ctx.rows.length > 1)) { %}
          <div>
            <button type="button" class="knapp knapp--standard knapp--fjern" ref="{{ctx.datagridKey}}-removeRow">{{ctx.t(ctx.component.removeAnother || 'Fjern')}}</button>
          </div>
        {% } %}
        {% if (ctx.canAddColumn) { %}
          <div ref="{{ctx.key}}-container">
            {{ctx.placeholder}}
          </div>
        {% } %}
      {% } %}
    </fieldset>
  {% }) %}
  {% if (!ctx.builder && ctx.hasAddButton && ctx.hasBottomSubmit) { %}
  <div>
    <button class="knapp knapp--standard knapp--legg-til" ref="{{ctx.datagridKey}}-addRow">
      {{ctx.t(ctx.component.addAnother || 'Legg til')}}
    </button>
  </div>
  {% } %}
</div>
