<fieldset class="skjemagruppe">
    {% if (ctx.component.legend) { %}
    <legend ref="header" class="skjemagruppe__legend{{ctx.component.collapsible ? ' formio-clickable' : ''}}">
        {{ctx.t(ctx.component.legend)}}
        {% if (ctx.component.tooltip) { %}
        <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-muted"></i>
        {% } %}
    </legend>
    {% } %}
    {% if (!ctx.collapsed) { %}
        <div ref="{{ctx.nestedKey}}">
            {{ctx.children}}
        </div>
    {% } %}
</fieldset>
