.rows {
  display: grid;
  gap: var(--ax-space-16);
}

.row {
  background-color: var(--ax-bg-brand-blue-soft);
  border-radius: var(--ax-radius-12);
  padding: var(--ax-space-16);
}

.rowHeading {
  margin-block-end: var(--ax-space-16);
}

.rowContent {
  display: flow-root;
}

.rowContent > [data-form-component]:last-child > * {
  margin-block-end: 0;
}

.remove {
  margin-block-start: var(--ax-space-8);
}

.add {
  margin-block-start: var(--ax-space-16);
}

@media (forced-colors: none) {
  .addButton:not(:hover):not(:active) {
    background-color: var(--ax-bg-default);
  }
}
