@import "~nav-frontend-skjema-style";
@import "~nav-frontend-typografi-style";
@import "~nav-frontend-core";
@import "~nav-frontend-knapper-style";
@import "~nav-frontend-lenker-style";
@import "~nav-frontend-stegindikator-style";

//Select -- start
.choices.form-group.formio-choices {
  .input--xxl();
  &:after {
    display: none;
  }
}

.form-control.selection.dropdown {
  .selectContainer();
  .input--xxl();
  .skjemaelement();
  .skjemaelement__input();

  &.is-invalid {
    .skjemaelement-feilmarkering-mixin();
  }
}
//Select -- slutt

//Alle skjemafelter -- start
.form-group {
  margin-bottom: 2rem;
}
//Alle skjemafelter -- slutt

//Panelside --.start
.wizard-page {
  border-radius: 0.125rem;
  background: @navLysBlaLighten80;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}
//Panelside --slutt

//Wizard sidevelger --start
.pagination {
  display: flex;
  justify-content: center;
  padding: 3rem 0 1rem 0;
}
//Wizard sidevelger --slutt

//Feilhåndtering -- start
.alert.alert-danger {
  border: 4px solid #BA3A26;
  border-radius: 0px;
  background-color: #FFF;
  padding: 1rem;
  display: block;
  .typo-undertittel-mixin();
  color: @navMorkGra;
  ul > li {
    .lenke-mixin();
    .typo-normal-mixin();
  }
}

.formio-error-wrapper {
  background-color: transparent;
  border-color: transparent;
  text-decoration-color: @navMorkGra;
  color: @navMorkGra;
}

.skjemaelement__input.is-invalid {
  .skjemaelement-feilmarkering-mixin();
  background-image: none;
}

.form-text.error {
  .typo-feilmelding();
}

.formio-component.has-feedback .invalid-feedback {
  display: block;
}

.form-control.is-invalid {
  background-image: none;
}
//Feilhåndtering -- slutt

//NAV-knappestyling -- start
.list-inline {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 540px) {
    flex-direction: column-reverse;
  }
}
.list-inline-item {
  margin: 0.5rem;
}

.btn-wizard-nav-next,
.btn-wizard-nav-previous,
.btn-wizard-nav-cancel,
.btn-wizard-nav-submit {
  @media (max-width: 540px) {
    width: 100%;
  }
  .knappbase-mixin(@font-family);
  .knappramme-mixin(@navBla, @navDypBla, @white);
  .knappdisabled-mixin();
  .knappspinner-mixin();
  .knappmedikon-mixin();
}

.btn-wizard-nav-next,
.btn-wizard-nav-submit {
  .knappfylt-mixin(@navBla, @white, @navDypBla, lighten(@navBla, 5%)); //knapp--hoved
}

.btn-wizard-nav-cancel {
  .knappfylt-mixin(@redError, @white, darken(@redError, 5%), lighten(@redError, 5%)); //knapp--fare
}
//NAV-knappestyling -- slutt

.stegindikator__wrapper {
  padding: 1rem;
}

main:focus {
  outline: none;
}
