---
apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: {{app-name}}
  namespace: skjemadigitalisering
  labels:
    team: skjemadigitalisering
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "151M"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "120"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "120"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
spec:
  image: {{image}}
  port: 8080
  observability:
    autoInstrumentation:
      enabled: true
      runtime: nodejs
    logging:
      destinations:
        - id: loki
        - id: elastic
  azure:
    application:
      enabled: true
      tenant: {{azure.application.tenant}}
  idporten:
    enabled: true
    sidecar:
      enabled: true
      locale: nb
      autoLogin: false
  tokenx:
    enabled: true
  ingresses:
  {{#each ingresses as |url|}}
     - {{url}}
  {{/each}}
  liveness:
    path: /fyllut/internal/isAlive
    initialDelay: 10
  readiness:
    path: /fyllut/internal/isReady
    initialDelay: 10
  replicas:
    min: {{replicas-min}}
    max: {{replicas-max}}
    scalingStrategy:
      cpu:
        thresholdPercentage: 90
  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi
  prometheus:
    enabled: true  # default: false. Pod will now be scraped for metrics by Prometheus.
    path: /fyllut/internal/metrics # Path where prometheus metrics are served.
  accessPolicy:
    inbound:
      rules:
      {{#each accessPolicy.inbound.rules}}
        - application: {{this.application}}
          namespace: {{this.namespace}}
          cluster: {{this.cluster}}
      {{/each}}
    outbound:
      rules:
        - application: norg2
          namespace: org
        - application: logging
          namespace: nais-system
      {{#each accessPolicy.outbound.rules}}
        - application: {{this.application}}
          namespace: {{this.namespace}}
          cluster: {{this.cluster}}
      {{/each}}
      external:
      {{#each accessPolicy.outbound.external}}
        - host: {{this.host}}
      {{/each}}
  envFrom:
    - secret: nologin
  env:
    - name: ENABLED_FEATURES
      value: {{enabled-features}}
    - name: DECORATOR_URL
      value: {{dekorator-url}}
    - name: FOERSTESIDE_URL
      value: {{foersteside-url}}
    - name: FORMS_SOURCE
      value: {{forms-source}}
    - name: NOLOGIN_TOKEN_LIFETIME_HOURS
      value: "{{nologin.token-lifetime-hours}}"
    - name: SKJEMABYGGING_PROXY_URL
      value: {{skjemabygging-proxy-url}}
    - name: SKJEMABYGGING_PROXY_CLIENT_ID
      value: {{skjemabygging-proxy-client-id}}
    - name: FAMILIE_PDF_GENERATOR_URL
      value: {{familie-pdf-generator-url}}
    - name: FAMILIE_PDF_GENERATOR_SCOPE
      value: {{familie-pdf-generator-scope}}
    - name: MERGE_PDF_SCOPE
      value: {{merge-pdf-scope}}
    - name: SEND_INN_TOKEN_X_CLIENT_ID
      value: {{send-inn-token-x-client-id}}
    - name: SEND_INN_HOST
      value: {{send-inn-host}}
    - name: TILLEGGSSTONADER_TOKEN_X_CLIENT_ID
      value: {{tilleggsstonader-token-x-client-id}}
    - name: TILLEGGSSTONADER_HOST
      value: {{tilleggsstonader-integrasjoner-host}}
    - name: KODEVERK_URL
      value: {{kodeverk.url}}
    - name: KODEVERK_SCOPE
      value: {{kodeverk.scope}}
    - name: NORG2_URL
      value: "http://norg2.org"
    - name: PDL_TOKEN_SCOPE_CLUSTER
      value: {{pdl-token-scope-cluster}}
    - name: FORMS_API_URL
      value: {{forms-api-url}}{{^forms-api-url}}http://forms-api.fyllut-sendinn{{/forms-api-url}}
    - name: TEAM_LOGS_URL
      value: "http://team-logs.nais-system/"
    {{#each environmentVars}}
    - name: {{this.name}}
      value: {{this.value}}
    {{/each}}
