name: Deploy alerts
run-name: Deploy alerts for Byggeren to preprod and prod

on:
  push:
    branches:
      - master
    paths:
      - '.nais/bygger/alerts.yaml'
      - '.nais/bygger/preprod.yaml'
      - '.nais/bygger/prod.yaml'
      - '.github/workflows/alert-deploy.yaml'
jobs:
  preprod-deploy:
    name: Deploy to preprod
    runs-on: ubuntu-latest
    permissions:
      id-token: 'write'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Deploy to preprod
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: './.nais/bygger/alerts.yaml'
          VARS: './.nais/bygger/preprod.yaml'

  prod-deploy:
    name: Deploy to prod
    runs-on: ubuntu-latest
    permissions:
      id-token: 'write'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Deploy to prod
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: './.nais/bygger/alerts.yaml'
          VARS: './.nais/bygger/prod.yaml'
