name: Cypress Tests

on: push
env:
  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  setup-fyllut:
    runs-on: ubuntu-latest-8-cores
    permissions:
      contents: read
      packages: read
    outputs:
      cypress-folders: ${{ steps.generate-cypress-folders.outputs.cypress-folders }}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22.12.0'
      - name: Generate list of folders containing cypress tests
        id: generate-cypress-folders
        run: |
          echo cypress-folders=$(node bin/get-folders.mjs packages/fyllut/cypress/e2e) >> "$GITHUB_OUTPUT"

  cypress-run-fyllut:
    name: fyllut ${{ matrix.folder }}
    runs-on: ubuntu-latest-8-cores
    needs: [setup-fyllut]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        folder: ${{ fromJSON(needs.setup-fyllut.outputs.cypress-folders) }}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22.12.0'
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'
          registry-url: https://npm.pkg.github.com/
          scope: '@navikt'
      - name: set timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: 'Europe/Oslo'
      - name: 'Install dependencies'
        run: yarn --frozen-lockfile
      - name: 'Build fyllut'
        run: yarn build:fyllut
      - name: 'Run mock server'
        run: yarn mocks:fyllut:no-cli &
      - name: 'Cypress tests (fyllut)'
        uses: cypress-io/github-action@v7
        with:
          install: false
          start: yarn preview:fyllut
          wait-on: 'http://localhost:3001/fyllut/internal/isready'
          wait-on-timeout: 120
          command: yarn cypress:fyllut --spec cypress/e2e/${{ matrix.folder }}/**/* --env INCLUDE_DIST_TESTS=true
        env:
          FYLLUT_BACKEND_LOGLEVEL: ${{ runner.debug == '1' && 'debug' || 'error' }}
      - name: Upload screenshots
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: cypress-screenshots-${{ strategy.job-index }}
          path:  ${{ github.workspace }}/packages/fyllut/cypress/screenshots/*


  cypress-run-bygger:
    runs-on: ubuntu-latest-8-cores
    permissions:
      contents: 'read'
      packages: read
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22.12.0'
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'
          registry-url: https://npm.pkg.github.com/
          scope: '@navikt'
      - name: set timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: 'Europe/Oslo'
      - name: 'Install dependencies'
        run: yarn --frozen-lockfile
      - name: 'Build bygger'
        run: yarn build:bygger
      - name: 'Cypress tests (bygger)'
        uses: cypress-io/github-action@v7
        with:
          install: false
          start: yarn preview:bygger
          wait-on: 'http://localhost:3000/internal/isready'
          wait-on-timeout: 120
          command: yarn cypress:bygger
      - name: Upload screenshots
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: cypress-bygger-screenshots-${{ strategy.job-index }}
          path:  ${{ github.workspace }}/packages/bygger/cypress/screenshots/*
