name: 'Test coverage'
on:
  pull_request:
    branches: [master]
env:
  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  test-coverage:
    permissions:
      contents: 'read'
      packages: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22.12.0'
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'
          registry-url: https://npm.pkg.github.com/
          scope: '@navikt'
      - name: 'Install dependencies'
        run: yarn
      - name: set timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: 'Europe/Oslo'
      - name: 'Test with coverage report'
        run: yarn test:coverage
